.main{
    text-align: center;
    font-family: 'Lucida Sans';
    align-self: center;
  }


  .auth{
    width: 500px;
    margin: auto;
  }

  

  Button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-content: center;
    width: 125px;
    align-self: center;
  }

  .img{
      height: 300px;
      align-content: center;
  }
  
  .lay{
  
      float: right;
      text-decoration: aliceblue;
      display: inline ;
 
  }


  .index{
    font-family: 'Lucida Sans';
    font-size: 20px;
    text-align: right;
  }

  h3{
    text-align: center;
  }
  
  h5{
    text-align: center;
  }
  h1{
    text-align: center;
  }

  .head{
    text-align: center;
    color:blue;
  }

  .fries{
    align-content: center;
    width: 125px;
    align-self: center;
  }

  .log{
    align-content: center;
    width: 100px;
    align-self: center;
  }
  .rows{
    border:2px solid blue
  }

  .columns{
    border: 2px solid black;
  }

  .plan{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 125px;
  
   
  }


  .place{
    text-align: center;
    align-items: center;
  }

  .bg{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5tH-w17Fdo9fs3mXMo3BYHuHXqrlYpsj3-A&usqp=CAU" );
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .arrange{
    color: aliceblue;
    text-align: center;
  }
  