.main{
    text-align: center;
    font-family: 'Lucida Sans';
    align-self: center;
  }


  .auth{
    width: 500px;
    margin: auto;
    text-align: left;
  }

  

  Button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-content: center;
    width: 125px;
    align-self: center;
  }

  .img{
      height: 300px;
      align-content: center;
  }
  
  .lay{
  
      float: right;
      text-decoration: aliceblue;
      display: inline ;
 
  }


  .index{
    font-family: 'Lucida Sans';
    font-size: 20px;
    text-align: right;
  }

  h3{
    text-align: center;
  }
  
  h5{
    text-align: center;
  }
  h1{
    text-align: center;
  }

  .head{
    text-align: center;
    color:blue;
    font-family: cursive;
  }

  .fries{
    align-content: center;
    width: 125px;
    align-self: center;
  }

  .log{
    align-content: center;
    width: 100px;
    align-self: center;
  }
  .rows{
    border:2px solid blue
  }

  .columns{
    border: 2px solid black;
  }

  .plan{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 125px;
  
   
  }


  .place{
    text-align: center;
    align-items: center;
  }

  .bg{
    background-image: url("../images/wow.jpg" );
    image-rendering: optimizeQuality;
    position: fixed;
    height:700px;
    text-align: center;
    font-weight: bold;
    
    /* min-width: 100%;
    min-height: 100%; */
    background-size: cover;
    background-position: center;
  }
  
  .arrange{
    color: black;
    text-align: center;
  }

  .log{
    background-image: url("../images/multnomah.jpg" );
    image-rendering: optimizeQuality;
    position: fixed;
    
    text-align: center;
  
    
     min-width: 100%;
    min-height: 100%; 
    background-size: cover;
    background-position: center;
  }

  .well{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    
  
  }

  .pull{
    background-image: url("../images/pala.jpg" );
    image-rendering: optimizeQuality;
    position: fixed;
    
    text-align: center;
  
    
     min-width: 100%;
    min-height: 100%; 
    background-size: cover;
    background-position: center;
  }

  .der{
    background-color:rgb(223, 208, 7)
  }
  