.way{
    font-family:cursive;
    

}


.make{
    font-family: 'Courier New', Courier, monospace;
}

.face{
    background-image: url("../images/multnomah.jpg" );
    image-rendering: optimizeQuality;
    position: fixed;
    height:700px;
    text-align: center;

    
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}